<div class="container my-5">
    <h1>Welcome to the Ruby On Rails Project!</h1>
    <p class="lead">This is a simple rails application that consists of a receptionist portal & a doctor portal which performs the following tasks:</p>
    <ul class="list-group">
        <li class="list-group-item">A single login page for both portals.</li>
        <li class="list-group-item">Receptionist can register a new patient & perform CRUD operations.</li>
        <li class="list-group-item">Doctor can view registered patient & view graph that represents patient registered vs days.</li>
    </ul>
    <p>Application uses PostgreSQL for the database and features proper Auth implementation using devise. We have also incorporated Bootstrap-Sass for styling and Chartkick gem for data visualization.</p>
    <p>Use Navbar for Signup/login</p>
</div>